<!DOCTYPE html>
<html class="no-js">
<head th:fragment="head (title)">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Footer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<footer>
  <p>
    © 2019 Nitrouz Studioz, LLC. All Rights Reserved | Manager/Founder: Anthony Gossett | Software Engineer: Kevan Barter | Gaming
  </p>
</footer>

</body>
</html>