<!DOCTYPE html>
<html class="no-js">
<head th:fragment="head (title)">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Meetup</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<footer>
  <p>
    <img class="footerImage" src="images/twitter.png">
    <img class="footerImage" src="images/Youtube.png">
    <img class="footerImage" src="images/twitch.png">
  </p>
  <p>
    © 2019 Nitrouz Studioz, All Rights Reserved | Manager/Founder: Anthony Gossett | Website Engineer: Kevan Barter
  </p>
</footer>

</body>
</html>