<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>About Page</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="pages">
<header>
  <img src="/images/Nitrouz_Studioz.png" id="Nit_Studioz">
  <nav>
    <ul id="nav">
      <li class="navbar"><a th:href="${loggedOut} ? '/' : '/LoggedInUser/index'">Home</a></li>
      <li class="navbar"><a href="">News</a></li>
      <li class="navbar"><a href="">Reviews</a></li>
      <li class="navbar"><a href="">ESPORTS</a></li>
      <li class="navbar"><a href="">Live Streams</a></li>
      <li class="navbar"><a href="">Forums</a></li>
      <li class="navbar"><a href="">Members</a></li>
      <li class="navbar active"><a th:href="${loggedOut} ? '/about' : '/LoggedInUser/about'">About</a></li>
      <li th:if="${loggedOut}" id="loginLink"><a href="/signup">Login/Sign Up</a></li>
      <li th:if="${loggedIn}" id="logoutLink">
        <span id="profile_name" th:text="${profileEntity.getProfileName()}"></span>
        <a href="/logOut">Log Out</a>
      </li>
    </ul>
  </nav>
</header>

<div class="about_message">
  <div id="contact_us">
    <h1>Contact Us</h1>
    <h3>Management: Anthony Gossett</h3>
    <p>nitrouzstudioz@hotmail.com</p>
    <p id="about">
      Nitrouz Studios is a esports team management franchise and
      creator content for gaming news, reviews, and supports live
      streams. The future in building a great community of players
      all around the world.
    </p>
  </div>
  <div id="send_message">
    <form method="POST" action="/SendEmail">
      <input id="name" name="name" placeholder="Name">
      <input id="email" name="email" placeholder="Email">
      <textarea id="subject" name="subject" placeholder="Message" rows="10"></textarea>
      <button id="button" type="submit">Send</button>
    </form>
  </div>
</div>

<footer th:replace="fragments/footer.html :: footer"></footer>

<script src="/js/about.js"></script>
</body>
</html>