<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Nitrouz Studioz Homepage</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body class="pages">
<header>
  <img src="images/Nitrouz_Studioz.png" id="Nit_Studioz">
  <nav>
    <ul id="nav">
      <li class="navbar active"><a href="/">Home</a></li>
      <li class="navbar"><a href="">News</a></li>
      <li class="navbar"><a href="">Reviews</a></li>
      <li class="navbar"><a href="">ESPORTS</a></li>
      <li class="navbar"><a href="">Live Streams</a></li>
      <li class="navbar"><a href="">Forums</a></li>
      <li class="navbar"><a href="">Members</a></li>
      <li class="navbar"><a href="/about">About</a></li>
      <li id="loginLink"><a href="/signup">Login/Sign Up</a></li>
    </ul>
  </nav>
</header>

<img src="images/secundary_background.jpg" id="sec_back">

<footer th:replace="fragments/footer.html :: footer"></footer>

<script src="js/homepage.js"></script>
</body>
</html>