<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nitrouz Studioz Homepage</title>
  <link rel="stylesheet" href="css/homepage.css">
</head>
<body>
<header>
  <img src="images/Nitrouz_Studioz.png" id="Nit_Studioz">
  <nav>
    <ul>
      <li class="navbar"><a href="" class="active">Home</a></li>
      <li class="navbar"><a href="">News</a></li>
      <li class="navbar"><a href="">Reviews</a></li>
      <li class="navbar"><a href="">ESPORTS</a></li>
      <li class="navbar"><a href="">Live Streams</a></li>
      <li class="navbar"><a href="">Forums</a></li>
      <li class="navbar"><a href="">Members</a></li>
      <li class="navbar"><a href="">About</a></li>
      <li id="login"><a href="">Login/Sign Up</a></li>
    </ul>
  </nav>
</header>
<img src="images/secundary_background.jpg" align="middle" id="sec_back">
</body>
</html>