<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nitrouz Studioz Homepage</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="pages">
<header>
  <div id="heading">
    <img src="/images/Nitrouz_Studioz.png" id="Nit_Studioz">
    <img class="footerImage" src="/images/twitter.png">
    <img class="footerImage" src="/images/twitch.png">
    <div id="login_logout">
      <p th:if="${loggedOut}" id="loginLink"><a href="/signup">Login/Sign Up</a></p>
      <div th:if="${loggedIn}" id="logoutLink">
        <p id="profile_name" th:text="${profileEntity.getProfileName()}"></p>
        <a href="/logOut">Log Out</a>
      </div>
    </div>
  </div>
  <nav>
    <ul id="nav">
      <li class="navbar active"><a th:href="${loggedOut} ? '/' : '/LoggedInUser/index'">Home</a></li>
      <li class="navbar"><a href="">News</a></li>
      <li class="navbar"><a href="">Reviews</a></li>
      <li class="navbar"><a href="">ESPORTS</a></li>
      <li class="navbar"><a href="">Live Streams</a></li>
      <li class="navbar"><a href="">Forums</a></li>
      <li class="navbar"><a href="">Members</a></li>
      <li class="navbar"><a th:href="${loggedOut} ? '/about' : '/LoggedInUser/about'">About</a></li>
    </ul>
  </nav>
</header>

<img src="/images/secondary_background.jpg" id="sec_back">

<footer th:replace="fragments/footer.html :: footer"></footer>

<script src="/js/homepage.js"></script>
</body>
</html>