<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body id="LogInPage">
 <a href="/"><h1 id="exit">X</h1></a>
 <div id="login">
   <div class="logInDivs">
     <h1>Log In</h1>
     <h3 id="newToSiteQuestion">New to site? <a href="/signup">Sign Up</a></h3>
   </div>
   <div class="logInDivs">
     <form method="GET" action="/Log_In">
       <input id="email" name="email" placeholder="Email" type="email">
       <input id="password" name="password" placeholder="Password" type="password">
       <a href="/ForgotPasswordPage" id="forgotPassword"><p>Forgot Password?</p></a>
       <button id="button" type="submit">Log In</button>
     </form>
   </div>
 </div>
</body>
</html>