<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Sign In Page</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body id="SignUpPage">
  <a href="/"><h1 id="exit">X</h1></a>
  <div id="signup">
    <div class="signUpDivs">
      <h1>Sign Up</h1>
      <h3 id="memberQuestion">Already a member? <a href="/LoggedInUser/success">Log In</a> </h3>
  </div>
    <div class="signUpDivs">
      <a id="signUpForm" href="/signUpForm"><button id="signupButton">Sign Up With Email</button></a>
    </div>
    <div id="footer">
      <input type="checkbox" id="join" name="join">
      <label for="join">Join this sites community.</label><a role="link" onclick="readMore()" id="readMore"> Read More</a>
      <p id="info"></p>
    </div>
  </div>

<script src="js/signup.js"></script>
</body>
</html>