@import '../abstracts/colors';

.about_message{
  width: 80vw;
  display: flex;
}

.about_message > div{
  width: 20vw;
}

#contact_us{
  flex-grow: 4;
  color: $login_hover;
}

#send_message{
  flex-grow: 7;
  margin-top: 2em;
  color: $login_color;
}

#name, #email, #subject {
  width: 100%;
  margin-bottom: .5em;
}

#button{
  background-color: $send_button_color;
  color: $white;
  font-size: 1em;
  padding: .5em;
  float: right;
}