@import '../abstracts/colors';

#sec_back{
  height: 18em;
  width: 33em;
  object-fit: fill;
}

.image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#grid-container{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: (10, 10vw);
  grid-gap: .5em;
  margin-left: 8vw;
  margin-right: 8vw;
  background-color: $black;
}

.gridItem1 {
  margin-top: 2em;
  margin-left: 2em;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gridItem2, .gridItem3, .gridItem4, gridItem5{
  margin-right: 2em;
}

.gridItem2 {
  margin-top: 2em;
  margin-right: 2em;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 6;
  grid-column-end: 9;
}

.gridItem3 {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 6;
  grid-column-end: 9;
}

.gridItem4 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
  background-color: purple;
}

.gridItem5 {
  margin-right: 2em;
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 6;
  grid-column-end: 9;
}

.gridItem6 {
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 9;
}

.gridItem7 {
  grid-row-start: 9;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 9;
}

iframe{
  margin-left: 8em;
}