@import "../abstracts/colors";

#SignUpPage{
  background-color: $hover_background;
}

#signup{
  text-align: center;
  margin-left: 30vw;
  margin-right: 30vw;
}

#exit{
  float: right;
  font-size: 3em;
  margin-right: 5vw;
}

a #exit {
  color: $send_button_color;
}

#signup{
  h1{
    color: $white;
    font-size: 3em;
  }

  h3{
    color: $white;
    font-size: 2em;
  }

  a{
    color: $send_button_color;
  }

  #or span {
    color: $send_button_color;
    background: $hover_background;
    padding:0 10px;
  }

  #or {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $send_button_color;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }

  #signupButton {
    background-color: $hover_background;
    font-size: 2em;
    border-color: $send_button_color;
    width: 100%;
  }
}