@import "../abstracts/colors";

#SignUpPage{
  background-color: $purple;
}

#signup{
  text-align: center;
  margin-left: 30vw;
  margin-right: 30vw;
}

#exit{
  float: right;
  font-size: 3em;
  margin-right: 5vw;
}

a #exit {
  color: $black;
}

#signup {
  .signUpDivs{
    padding-top: .5em;
    padding-bottom: .5em;
  }
  h1{
    color: $white;
    font-size: 3em;
  }

  h3{
    color: $white;
    font-size: 2em;
  }

  a{
    color: $black;
  }

  #signupButton {
    background-color: $purple;
    font-size: 2em;
    border-color: $black;
    width: 100%;
    padding-bottom: .2em;
    padding-top: .2em;
  }

  #signupButton:hover{
    border-color: white;
    color: white;
  }

  #join label{
    font-size: 1em;
  }

  #footer{
    padding-top: .5em;
  }

  a #readMore{
    color: $black;
  }

  #email{
    width: 100%;
    font-size: 1.5em;
  }

  #password{
    width: 100%;
    font-size: 1.5em;
  }

  #button{
    margin-top: .5em;
    margin-bottom: .5em;
    width: 100%;
    font-size: 1.5em;
    cursor: pointer;
  }

  #readMore:hover{
    color: $white;
    cursor: pointer;
  }

  .error{
    color: $white;
  }
}