@import "../abstracts/colors";

#SignUpPage{
  background-color: $hover_background;
}

#signup{
  align-content: center;
  margin-left: 40vw;
  margin-right: 40vw;
}

#exit{
  float: right;
  margin-right: 5vw;
}