body {
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
}

header{
  text-align: center;
  width: 80vw;
  margin: 1em auto;
  clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar{
  background-color: #333;
}

#login{
  float: right;
}

#login a{
  color: white;
}

#login a:hover{
  color: deeppink;
}

nav{
  /*align-items: center;*/
  text-align: center;
  clear: both;
}

li {
  float: left;
}

li a {
  display: block;
  color: aqua;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: purple;
  color: deeppink;
}

.active {
  background-color: purple;
  color: deeppink;
}

#Nit_Studioz {
  height: 100px;
  width: 550px;
}

#sec_back{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 50%;
}