#sec_back {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 50%;
}

.pages {
  background: url("../../images/background.jpg") no-repeat;
  margin-right: 10vw;
  margin-left: 10vw;
  background-size: cover;
}

header {
  text-align: center;
  margin: 1em auto;
  clear: both;
}

footer {
  bottom: 0;
  width: 80vw;
  color: white;
  text-align: center;
  clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  background-color: #325658;
}

#loginLink {
  float: right;
  padding-left: 1em;
}

#loginLink a {
  color: white;
}

#loginLink a:hover {
  color: deeppink;
}

li + .navbar {
  border-left: 1px solid deeppink;
}

nav {
  text-align: center;
  clear: both;
}

li {
  float: left;
  font-size: 1em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

li a {
  display: block;
  color: aqua;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: deeppink;
}

.active {
  background-color: purple;
  color: deeppink;
}

#Nit_Studioz {
  height: 100px;
  width: 550px;
}

#sec_back {
  height: 23em;
  width: 50em;
}

.footerImage {
  height: 40px;
  width: 40px;
}

.about_message {
  width: 80vw;
  display: flex;
}

.about_message > div {
  width: 20vw;
}

#contact_us {
  flex-grow: 4;
  color: deeppink;
}

#send_message {
  flex-grow: 7;
  margin-top: 2em;
  color: white;
}

#about {
  background-color: purple;
  color: aqua;
  padding: 1em;
}

#name, #email, #subject {
  width: 100%;
  margin-bottom: 0.5em;
}

#button {
  background-color: black;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  float: right;
}

#button:hover {
  color: purple;
}

#SignUpPage, #LogInPage {
  background-color: purple;
}

#signup, #login {
  text-align: center;
  margin-left: 30vw;
  margin-right: 30vw;
}

#exit, a #exit {
  float: right;
  font-size: 3em;
  margin-right: 5vw;
}

a #exit {
  color: black;
}

#signup .signUpDivs, #login .signUpDivs, #login .logInDivs {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#signup h1, #login h1 {
  color: white;
  font-size: 3em;
}
#signup h3, #login h3 {
  color: white;
  font-size: 2em;
}
#signup a, #login a {
  color: black;
}
#signup #signupButton, #login #signupButton {
  background-color: purple;
  font-size: 2em;
  border-color: black;
  width: 100%;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}
#signup #signupButton:hover, #login #signupButton:hover {
  border-color: white;
  color: white;
}
#signup #join label, #login #join label {
  font-size: 1em;
}
#signup #footer, #login #footer {
  padding-top: 0.5em;
}
#signup a #readMore, #login a #readMore {
  color: black;
}
#signup #email, #login #email {
  width: 100%;
  font-size: 1.5em;
}
#signup #password, #login #password {
  width: 100%;
  font-size: 1.5em;
}
#signup #button, #login #button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 1.5em;
}
#signup #readMore:hover, #login #readMore:hover {
  color: white;
  cursor: pointer;
}

#SignUpPage, #LogInPage {
  background-color: purple;
}

#signup, #login {
  text-align: center;
  margin-left: 30vw;
  margin-right: 30vw;
}

#exit, a #exit {
  float: right;
  font-size: 3em;
  margin-right: 5vw;
}

a #exit {
  color: black;
}

#signup .signUpDivs, #login .signUpDivs, #login .logInDivs {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#signup h1, #login h1 {
  color: white;
  font-size: 3em;
}
#signup h3, #login h3 {
  color: white;
  font-size: 2em;
}
#signup a, #login a {
  color: black;
}
#signup #signupButton, #login #signupButton {
  background-color: purple;
  font-size: 2em;
  border-color: black;
  width: 100%;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}
#signup #signupButton:hover, #login #signupButton:hover {
  border-color: white;
  color: white;
}
#signup #join label, #login #join label {
  font-size: 1em;
}
#signup #footer, #login #footer {
  padding-top: 0.5em;
}
#signup a #readMore, #login a #readMore {
  color: black;
}
#signup #email, #login #email {
  width: 100%;
  font-size: 1.5em;
}
#signup #password, #login #password {
  width: 100%;
  font-size: 1.5em;
}
#signup #button, #login #button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 1.5em;
}
#signup #readMore:hover, #login #readMore:hover {
  color: white;
  cursor: pointer;
}

#login a {
  color: black;
}
#login a:hover {
  color: black;
}
#login #email {
  width: 100%;
  font-size: 1.5em;
}
#login #password {
  width: 100%;
  font-size: 1.5em;
}
#login #button {
  width: 100%;
  font-size: 1.5em;
}
#login #forgotPassword {
  text-align: left;
  font-size: 1.5em;
}

/*# sourceMappingURL=main.css.map */
